# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Virtual env
venv/
.env

# Allure
reports/allure-results/
reports/allure-report/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
